.CardContainer {
  padding: 1rem;
  .CardHeader {
    padding: 0;
  }
  .Address {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }
  .Rating {
    padding: 0.5rem 0;
    color: #faaf00 !important;
  }
}