.container {
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

.form-image {
    display: flex;

}

.form {
    width: 60%;
    background-color:  #F6FBF9;
}

.name-form {
    font-weight: bold;
    font-size: 22px;
    color: #212B27;
}

.message a {
    color:#212B27;
}

.inner-form {
    background-color: #ffffff;
    width: 35%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

 form {
    display: flex;
    flex-direction: column;
    margin: auto;

}

form input,
form button {
    padding: 10px;
    margin-top: 10px;
    border-radius:  10px;
    border-color: rgba(0, 0, 0, 0.1);
}

.button-submit {
    background-color: #84C7AE;
    color: rgba(255, 255, 255, 1);
    border: #FFFf;
    width: 60%;   
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.button-submit:hover {
    background-color: rgb(63, 171, 131);
}

.image {
    width: 40%;
    margin-right: -40px;
}

.image img {
    width: 80%;
}   